# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# Docker Volumes
# =========================
postgres_data/
nodered_data/

# =========================
# Cache
# =========================
.cache/

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/

# =========================
# Temporary / Editor
# =========================
*.swp
*.swo

# =========================
# Node.js / Node-RED
# =========================
node_modules/
.config.users.json
*.backup
node-red/data/